.Main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 620px) {
.Main{
  width: 450px;
}
.Header{
  font-size: 50px !important;
  height: 100px !important;
  padding: 25px 0px 0px 0px !important
}
.Card{
  width: 38% !important;
}
}

.Header {
  padding: 80px 0 0 80px;
  font-size: 100px;
  font-weight: 300;
  width: 90%;
  height: 250px;
  background-color: rgb(236, 239, 240);
  text-align: center;
}
.Zone{
  color: rgb(119 119 119);
  font-size: larger;
  font-weight: 400;
  margin: 25px 0px -10px 0px;
}
.Card{
  display: inline-block;
  padding: 0 16px 16px 16px;
  text-align: center;
  margin: 9.7px;
  border: 1px solid rgb(236, 239, 240);
  border-radius: 5%;
  width: 150px;
  color: black;
}
.Card:hover{
  background-color: rgb(236, 239, 240);
}
.FormattedDate{
  color:rgb(119 119 119);
}
.Day{
  font-size: 25px;
  font-weight: 500;
  margin: auto;
}
.Wrapper{
  display: flex;
}
.HourlyDay{
font-size: x-large;
text-align: center;
}